#alerta{
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    display: none;
}

.alerta-sucesso{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alerta-erro{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}