.equipe-titulo{
    text-align: center;
}

.equipe-titulo:after{
    content: '';
    display: block;
    height: 4px;
    width: 50px;
    background: #5e9e3b;
    margin: 0 auto;
}

.equipe{
    padding: 20px;
    background: #eee;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    text-align: center;
    margin-bottom: 20px;
}

.equipe img{
    display: block;
    margin: 0 auto 10px;
}