ul li{
    border-bottom: 1px dotted #000;
}

/* ul li:last-of-type{
    border-bottom: none;
} */

ol {
    counter-reset:item;
}

ol>li {
    /* margin:0; */
    text-indent:-2em;
    list-style-type:none;
    counter-increment:item;
}

ol>li:before {
    display:inline-block;
    width:1.5em;
    padding-right:0.5em;
    font-weight:bold;
    text-align:right;
    content:counter(item)".";
}

/* Seção */
.secao{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* @media screen and (min-width: 750px){
    .secao{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
} */

/* Topo */
#topo{
    background-color: #5e9e3b;
    color: #fff;
    height: 15px;
}

#topo a{
    color: #fff;
}

@media screen and (min-width: 750px){
    #topo .colunas:nth-of-type(2){
        text-align: right;
    }
}

/* Navegação */
nav.nav{
    position: relative;
}

nav.nav .conteudoMenu{
    display: block;
    width: 100%;
    text-align: left
}

.nav.hamburguer{
    position: absolute;
    padding: 1rem;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
}

.nav.logo{
    display: inline-block;
    padding: 1rem 0 .3rem;
}

.nav.logo img{
    width: 75%;
    height: auto;
}

@media screen and (min-width: 750px){
    nav.nav .conteudoMenu{
        text-align: right
    }

    .nav.logo img{
        width: auto;
        height: auto;
    }
}

.nav.link{
    display: block;
    color: #000;
    text-decoration: none;
    padding: 0.625rem;
    padding-left: 0;
}

.nav.link:visited{
    color: #000;
}

.nav.link.ativo:after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #5e9e3b;
}

.nav.menu{
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out .2s;
}

.nav.menu.aberto{
    max-height: 30rem;
}

@media screen and (min-width: 750px){
    .nav.link{
        display: inline-block;
        padding-left: 1.5rem;
    }

    .nav.menu{
        justify-content: flex-end;
        align-items: center;
        flex-flow: row wrap;
        max-height: 20rem;
    }

    .nav.hamburguer{
        display: none;
    }
}

/* Título Destaque */
.titulo-destaque{
    background-color: #5e9e3b;
}

.titulo-destaque h3{
    color: #fff;
}

/* Header */
header.header{
    width: 100%;
    height: 235px;
}

@media screen and (min-width: 750px){
    header.header{
        height: 300px;
    }
}

.header.titulo,
.header.texto{
    color: #fff;
}

.header .owl-carousel,
.header .owl-stage-outer,
.header .owl-stage,
.header .owl-item{
    height: 100%;
}

.header .item-header{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
}

.header .item-header h2{
    font-size: 24px;
    color: #fff;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    padding: 5px;
    position: absolute;
    bottom: 30px;
    width: 100%;
}

@media screen and (min-width: 750px){
    .header .item-header h2{
        font-size: 48px;
    }
}

.header .owl-nav{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .owl-nav>div{
    position: relative;
    padding: 10px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    font-size: 24px;
}

@media screen and (min-width: 750px){
    .header .owl-nav>div{
        padding: 15px;
        width: 24px;
        height: 24px;
        font-size: 48px;
    }
}

.header .owl-prev{
    left: 5px;
}

.header .owl-next{
    right: 5px;
}

@media screen and (min-width: 750px){
    .header .owl-prev{
        left: 50px;
    }
    
    .header .owl-next{
        right: 50px;
    }

    .header .owl-prev svg{
        margin-right: 5px;
    }
    
    .header .owl-next svg{
        margin-left: 5px;
    }
}

.header .owl-dots{
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: 0;
}

/* Boxes */
#boxes .colunas:nth-child(n+2){
    margin-top: 4rem;
}

@media screen and (min-width: 750px){
    #boxes .colunas:nth-child(n+2){
        margin-top: 0;
    }
}

.box{
    /* margin-bottom: 4rem; */
}

@media screen and (min-width: 750px){
    .box{
        margin-bottom: 0;
    }
}

.box.titulo{
    margin-top: 0;
    text-align: center;
    margin-bottom: 2rem;
}

.box.titulo::after{
    content: '';
    display: block;
    height: 4px;
    width: 55px;
    background-color: #5e9e3b;
    margin: 0 auto;
    position: relative;
    bottom: 5px;
}

.limitador{
    background: #eee;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
}

.box.cabecalho{
    height: 157px;
    border-radius: 4px 4px 0 0;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.box.cabecalho.pesquisadores{
    background-image: url('../img/pesquisadores.jpg');
}

.box.cabecalho.licitacoes{
    background-image: url('../img/licitacoes.jpg');
}

.box.cabecalho.projetos{
    background-image: url('../img/projetos.jpg');
}

.box.conteudo{
    padding: 1rem 2rem;
}

.box.paragrafo{
    text-align: center;
    margin-bottom: 2rem;
    /* height: 80px; */
}

.box a{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* Destaques */
.destaque{
    text-align: center;
    margin-top: 3rem;
}

.destaque h2{
    margin: 1rem 0;
}

/* Quem Somos */
#quem-somos{
    background-color: #5e9e3b;
    padding-bottom: 1rem;
}

#quem-somos h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center
}

#quem-somos h2::after{
    content: '';
    display: block;
    height: 4px;
    width: 55px;
    background-color: #34810a;
    margin: 0 auto;
    position: relative;
    bottom: 5px;
}

#quem-somos p{
    color: #fff;
    text-align: justify;
    text-indent: 50px;
}

#quem-somos img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Notícias e Eventos */
#noticias-eventos h2{
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
}

#noticias-eventos h2::after{
    content: '';
    display: block;
    height: 4px;
    width: 55px;
    background-color: #5e9e3b;
    margin: 0 auto;
    position: relative;
    bottom: 5px;
}

.noticia-destaque{
    height: 313px;
    background-image: url('../img/noticia-destaque.jpg');
}

.noticia-menor{
    height: 146px;
}

.noticia{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.noticia:nth-of-type(1){
    margin-bottom: 22px;
}

.noticia1{
    background-image: url('../img/noticia1.jpg');
}

.noticia2{
    background-image: url('../img/noticia2.jpg');
}

.noticia3{
    background-image: url('../img/noticia3.jpg');
}

.noticia4{
    background-image: url('../img/noticia4.jpg');
}

.noticia-titulo{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    background: rgba(0,0,0,0.75);
    padding: 5px;
    font-size: 14px;
    line-height: 18px;
    box-sizing: border-box;
}

/* Depoimentos */
#depoimentos h2{
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
}

#depoimentos h2::after{
    content: '';
    display: block;
    height: 4px;
    width: 55px;
    background-color: #5e9e3b;
    margin: 0 auto;
    position: relative;
    bottom: 5px;
}

#depoimentos .owl-stage{
    display: flex;
    align-items: center;
}

#depoimentos .depoimento-texto{
    font-style: italic;
}

#depoimentos .depoimento-instituicao{
    font-weight: bold;
    margin-bottom: 0;
}

#depoimentos .owl-nav{
    width: 100%;
    display: flex;
    justify-content: center;
}

#depoimentos .owl-nav>div{
    font-size: 24px;
    padding: 0 3px;
}

.owl-dots{
    text-align:center;
}

.owl-nav.disabled+.owl-dots{
    margin-top:10px
}
.owl-dots .owl-dot{
    display:inline-block;
    zoom:1
}
.owl-dots .owl-dot span{
    width:10px;
    height:10px;
    margin:5px 7px;
    background:#D6D6D6;
    display:block;
    -webkit-backface-visibility:visible;
    transition:opacity .2s ease;
    border-radius:30px
}
.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span{
    background:#869791
}

/* Projetos */
#lista-projetos{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}



#lista-projetos li h4{
    margin: 15px 0;
    text-align: center;
}

#lista-projetos li:nth-child(odd){
    /* border: 1px solid red; */
    margin-right: 10px;
}

#lista-projetos p{
    /* display: flex; */
    /* align-items: center; */
    margin: 5px 0;
}

#lista-projetos li img{
    margin-right: 10px;
}

#lista-projetos li img:last-of-type{
    margin-right: 0;
}

@media screen and (min-width: 750px){
    #lista-projetos li{
        width: 49%;
    }
}

/* Rodapé */
footer.rodape{
    padding: 3rem 0;
    background: #333333;
    color: #b1b1b1;
}

.rodape-logo{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.rodape.titulo{
    color: #fff;
    margin: 1rem 0;
}

.rodape.texto,
a.rodape.texto{
    font-size: .9em;
    display: block;
    color: #91c83c;
    text-decoration: none;
}

#direitos-autorais{
    background: #91c83c;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}